/* -- Site-performance Styling
---------------------------------- -- */

.site-performance{
    height: 220px;
    h2{
        margin-bottom: 2.2rem;
    }
    form{
        margin-bottom: 5px;
        position: relative;
        button{
            position: absolute;
            top: 0;
            right: 0;
            background: transparent;
            border: none;
            width: 8rem;
            height: 6rem;
            @include border-radius($btn-radius);
            transition: all .5s;
            svg{
                width: 2.2rem;
                path{
                    fill: #575757;
                    transition: all .5s;
                }
            }

            &:hover{
                transform: translateX(2px);
                svg path{
                    fill: $theme-color;
                }
            } 
        }
    }
    &.grey-bg{
        position: relative;
        background: #fff;
        @include box-shadow(0, 1px, 4px, rgba(0,0,0,.10));
    }
}

/* -- Our Approach styling
------------------------------------ -- */

.our-approach {
    .tab-container {
        .tab-content {
            .tab-pane {
                .text-content {
                    h3 {
                        margin-bottom: 2rem;
                    }
                }
            }
        }
    }
}


/* -- roi-driven-optimization styling
--------------------------------- -- */
.roi-driven-optimization{
    overflow-x: hidden;
    .content-block{
        position: relative;
        padding-bottom: 3rem;
        h3{
            margin-bottom: 2.8rem;
        }
        .search-list-box{
            padding: 3.6rem 0;
            li{
                line-height: 4rem;
                padding-left: 3rem;
                position: relative;
                img{
                    width: 16px;
                    position: absolute;
                    top: 11px;
                    left: 0;
                    vertical-align: middle;
                }
                i{
                    font-size: 1.7rem;
                    color: $para-color;
                    position: absolute;
                    top: 11px;
                    left: 0;
                    vertical-align: middle;
                }
            }
        }
        .img-container img{
            position: relative;
            left: 0;
            @include border-radius($radius);
            @include box-shadow(0, 0, 10px, rgba(0,0,0,.10));
        }
    }
}

/* -- Mission Styling 
---------------------------------------- -- */

.mission {
    position: relative;
    overflow: hidden;
    .gallery-container {
        width: 49%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: #ffffff url(../images/mission/mission-img.png) top left no-repeat;
        background-size: cover;
        img{
            display: none;
        }
    }
    .text-content {
        height: 100%;
        .section-heading {
            margin-bottom: 0;
            h2 {
                margin-bottom: 2.2rem;
            }
        }
        p {
            margin-bottom: 15px;
        }
        .mission-list-box {
            margin-bottom: 2.6rem;
            li {
                position: relative;
                line-height: 4rem;
                padding-left: 2.5rem;
                i {
                    font-size: 1.7rem;
                    line-height: 2.8rem;
                    position: absolute;
                    top: 7px;
                    left: -2px;
                }
            }
        }
        .primary-btn {
            margin-bottom: 3rem;
        }
    }
}

/* -- featured Styling 
---------------------------------------- -- */

.featured-projects {
    padding-bottom: 3rem;
    .tab-container {
        .nav-tabs {
            border: none;
            @include border-radius($radius);
            @include box-shadow(0, 2px, 10px, rgba(0, 0, 0, .075));
            .nav-item {
                width: 120px;
                .nav-link {
                    background: #ffffff;
                    text-align: center;
                    padding: 5.2rem 1.5rem;
                    border: none;
                    border-bottom: 2px solid transparent;
                    @include flexbox();
                    @include align-items(center);
                    height: 100%;
                    &::after {
                        content: " ";
                        position: absolute;
                        bottom: 0px;
                        left: auto;
                        right: 0;
                        width: 0;
                        height: 2px;
                        display: block;
                        background: $theme-color;
                        -webkit-transition: all .5s;
                        -o-transition: all .5s;
                        transition: all .5s;
                    }
                    &:hover {
                        background-color: $grey-bg;
                        &::after{
                            width: 100%;
                            left: 0;
                        }
                        img {
                            -webkit-filter: grayscale(0);
                            filter: grayscale(0);
                            opacity: 1;
                        }
                    }
                    &.active {
                        background: $grey-bg;
                        border-color: $theme-color;
                        img {
                            -webkit-filter: grayscale(0);
                            filter: grayscale(0);
                            opacity: 1;
                        }
                    }
                    img {
                        -webkit-filter: grayscale(100%);
                        filter: grayscale(100%);
                        opacity: .6;
                        max-width: 100%;
                        transition: all .3s;
                    }
                }
            }
        }
        .tab-content {
            padding-top: 6rem;
            @include flexbox();
            @include flex-wrap(wrap);
            .tab-pane {
                width: 100%;
                .row {
                    [class^="col-"] {
                        margin-bottom: 3re,;
                    }
                }
                .content {
                    height: calc(100% - 3rem);
                    border: 1px solid $grey-border-color;
                    .text-content{
                        h3{
                            margin-bottom: 8px;
                        }
                        p{
                            margin-bottom: 15px;
                        }
                    }
                }
                .counter-box{
                    .content{
                        height: 100%!important;
                    }
                }
            }
        }
    }
}

/* -- Counter box styling -- */
.counter-box {
    height: 100%;
    .col-md-6{
        margin-bottom: 3rem;
        .content {
            height: 100%;
            padding: 40px 0 35px;
            border: 1px solid $grey-border-color;
            @include border-radius($radius);
            background: #ffffff;
            span {
                font-size: 30px;
                line-height: 4.5rem;
                font-weight: 500;
                margin-bottom: 2px;
                i {
                    font-style: normal;
                }
            }
            img {
                max-height: 30px;
                margin-bottom: 2.9rem;
            }
            i:not(.counter){
                font-size: 4rem;
                display: block;
                margin-bottom: 2rem;
            }
        }
    }
}

/* -- awards Styling 
---------------------------------------- -- */

.awards {
    .carousel-container {
        margin:  0 -15px;
        .carousel-inner {
            .item {
                outline: none!important;
                height: 100%;
                margin-bottom: 3rem;
                .content {
                    width: 100%;
                    min-height: 150px;
                    background: #ffffff;
                    padding: 30px;
                    border: 1px solid $grey-border-color;
                    @include flexbox();
                    @include align-items(center);
                    @include border-radius($radius);
                    img {
                        transition: all .5s;
                        max-width: 100%;
                    }
                }
            }
        }
    }
}

