// Custom Variables

$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Vesper Libre', serif;
$theme-color: #4fbf53;
$theme-lighter: #9dcf56;
$radius: 5px;
$btn-radius: 50px;
$para-color: #555555;
$dark-grey: #333333;
$x-dark-grey: #111111;
$grey-bg: #f9fafb;
$dark-grey-bg: #2b2a2e;
$light-grey-txt: #888888;
$grey-border-color: #e1e1e1;
$social-icon-color: #bebebe;
$placeholder-color: #979797;
$c-facebook: #5c81fa;
$c-twitter: #1dcaff;
$c-linkedin: #0677b4;
$c-google-plus: #e94335;
$c-instagram: #fe0da9;
$c-youtube: #d20a09;
$c-pinterest: #C92228;
$footer-list-color: #8c8c8c;
$breadcrumb-link-color: #cde8ff;